.job-form-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    /* background: linear-gradient(135deg, rgba(70, 20, 116, 0.911), rgba(3, 30, 58, 0.897)); */
    background: linear-gradient(135deg, rgba(84, 24, 139, 0.911), rgba(7, 42, 80, 0.897));
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.411);
}

.card-body {
    padding: 30px;
}

.text-center {
    text-align: center;
    font-size: 30px;
    margin-top: -10px;
    color: #f4defd;
}

.form-label {
    text-align: start;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #e4bcff;
}

.custom-input, .custom-select, .custom-multi-select {
    margin-bottom: 15px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    border: 1px solid #ccc3c3;
    outline: none;
}

.custom-input::placeholder, 
.custom-select::placeholder, 
.custom-multi-select::placeholder {
    color: #bfbfbf;
}

.custom-button {
    color: #ffffff;
    border: 1px solid #6b10e2;
    background: linear-gradient(175deg, rgba(141, 44, 231, 0.911), rgba(28, 118, 214, 0.897));
}

.custom-button:hover {
    background: linear-gradient(195deg, rgba(159, 60, 252, 0.911), rgba(31, 135, 245, 0.959));
    color: #ffffff;
}

.btn-block {
    display: block;
    width: 100%;
}

.custom-input:focus, 
.custom-select:focus, 
.custom-multi-select:focus {
    border-color: rgb(85, 26, 139);
    box-shadow: 0 0 5px rgba(85, 26, 139, 0.5);
    background-color: rgba(255, 255, 255, 0.3);
}

.custom-select option {
    background-color: #2c003e;
    color: #ffffff;
}
