<div class="content-container">
  <!-- Poster Section -->
  <div class="container mt-3">
    <div class="alert alert-success lastVisit fade show" role="alert">
      last visit : <%= lastVisit %>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="poster-section">
    <img src="/images/poster6.svg" alt="Job Poster" class="poster-img" />
  </div>

  <!-- Job Section -->
  <div class="job-section">
    <div class="content">
      <h2>Welcome to Job Portal</h2>
      <p>
        Find your dream job or hire the perfect candidate with our job portal.
        We offer a wide range of job opportunities and provide a platform for
        recruiters to post their job listings and find the right talent.
      </p>
      <p class="animated-text">Job opportunities and internships.</p>
      <div class="mt-4">
        <a href="/jobs" class="btn button mr-2">Job Seekers</a>
        <a href="/register" class="btn button" id="recruiters">Recruiters</a>
      </div>
    </div>
  </div>
</div>
